* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: cyan;
}

mark {
  background-color: aqua;
}

span {
  color: red;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  border: solid 3px black;
}

.box {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  display: inline-block;
}

.special-box {
  height: 100px;
  width: 100px;
  border: 2px solid red;
  display: inline-block;
  margin: 100px 50px;
}

.padding-box {
  display: inline-block;
  /* width: 100px;
  height: 100px; */
  padding: 5px;
  /* margin-top: ;
margin-bottom: ;
margin-left: ;
margin-right: ; */

  /* shorthand */
  /* 1 values = all sides */
  /* margin: 10px; */
  /* 2 values = top/bottom, right/left*/
  /* margin: 10px 20px; */
  /* 3 values = top, rightright, bottom */
  /* margin: 10px 20px 30px; */
  /* 4 values = top, right, bottom, left */
  margin: 10px 20px 30px 40px;

  padding: 20px 40px 60px 80px;

  /* border-width: 5px;
  border-style: dashed;
  border-color: purple; */
  border: purple 5px dashed;
  border-radius: 100%;
}

#dog-pic {
  max-width: 500px;
}
